<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>상품정보(@MVC : Mybatis)</h3>
<table border="1">
	<tr>
		<th>인덱스</th><th>번호</th><th>직원명</th><th>직급</th><th>부서명</th><th>연봉</th>
	</tr>
	<th:block th:if="${datas.size > 0}">
	<tr th:each="data,status:${datas}">
		<td th:text="${status.count}"></td>
		<td>[[${data.jikwon_no}]]</td>
		<td>[[${data.jikwon_name}]]</td>
		<td>[[${data.jikwon_jik}]]</td>
		<td>[[${data.buser_name}]]</td>
		<td>[[${#numbers.formatInteger(data.jikwon_pay,3,'COMMA')}]]</td>
	</tr>
	</th:block>
	<tr>
		<td colspan="6">건수 : [[${datas.size}]]</td>
	</tr>
	<tr> 
		<td colspan="6">
			<form action="/search" method="get">
				 직원명 : <input type="text" name="searchValue"/>
				 <input type="submit" value="검 색"/>
			</form>
		</td>
	</tr>
</table>
</body>
</html>