<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>미니 게시판 목록</h3>
<a th:href="@{/insert}">추가</a>
<br/>
<table border="1">
	<tr>
		<th>번호</th><th>글제목</th><th>작성자</th><th>조회수</th>
	</tr>	
	<th:block th:if="${list.size > 0}">
		<tr th:each="data:${list}">
			<td th:text="${data.num}">num 출력</td>
			<!--
			<td th:text="${data.title}"></td>			
			-->
			<td>
				<a th:href="@{/detail(num=${data.num})}" th:text="${data.title}"></a>
			</td>
			<td th:text="${data.author}"></td>			
			<td th:text="${data.readcnt}"></td>			
		</tr>
	</th:block>
	<!--검색 작업-->
	<tr>
		<td colspan="4">
			<form action="/search" method="post">
				검색 대상:
				<select name="searchName">
					<option value="author" selected>작성자</option>
					<option value="title">글제목</option>
				</select>
				<input type="text" name="searchValue">
				<input type="submit" value="검 색">
			</form>
		</td>
	</tr>
</table>
</body>
</html>