<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
function func(buser_no){
   //alert(buser_no);
   $("#showData").empty()
   
   $.ajax({
      type:"get",
      url:"jikwonlist?buser_no=" + buser_no,
      dataType:"json",
      success:function(jikwonData){
         //alert(jikwonData.datas);
         let count = 0;
         let str = "<br/> 근무 인원 <br/>";
         str += "<table border=1>";
         str += "<tr><th>사번</th><th>직원명</th><th>직급</th></tr>";
         let jlist = jikwonData.datas;
         
         $(jlist).each(function(index, arr){
            str += "<tr>";
            str += "<td>" + arr["no"] + "</td>";
            str += "<td>" + arr["name"] + "</td>";
            str += "<td>" + arr["jik"] + "</td>";
            str += "</tr>";
            count++;
               
         });
         str += "<tr><td colspan='3'>인원수 : " + count + "명</td></tr>";
         str += "</table>";
         $("#showData").append(str);
      },
      error:function(){
         $("#showData").text("에러");
      }
   })
}
</script>
</head>
<body>
<div th:if="${session.idKey ==null}">
	<a href="login.html">로그인하세요</a>
</div>

<div th:if="${session.idKey !=null}">
	[[${session.idKey}]]님 환영합니다.
<br/>
<a href="logout">로그아웃</a>
<br/><br/>
* 부서 정보 *<br/>
<table border="1">
   <tr><th>부서번호</th><th>부서명</th><th>부서 전화번호</th></tr>
   <th:block th:each="bu:${blist}">
      <tr>
         <td>[[${bu.buser_no}]]</td>
         <td>
            <a th:href="|javascript:func(${bu.buser_no})|" th:text="${bu.buser_name}"></a>
         </td>
         <td th:text="${bu.buser_tel}"></td>
      </tr>
   </th:block>
</table>
<br/>
<div id="showData"></div>
</div>
</body>
</html>